<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- css files -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- custom css -->
    <link
      href="css/css_slider.css"
      type="text/css"
      rel="stylesheet"
      media="all"
    />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <section class="contact py-5" id="contact">
      <div class="container py-md-5">
        <h3 class="heading text-center mb-3 mb-sm-5">LogIn</h3>
        <ul
        class="list-unstyled"
        style="
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 30px;
        "
      >
        <li
          class="adress-w3pvt-info"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div id="logo">
            <h1>
              <a href="index.html"
                ><span class="fa fa-free-code-camp"></span>
              </a>
            </h1>
          </div>
          <h6>Faruk Travels</h6>
          <p>+(387) 60 225 883</p>
          <a href="mailto:info@example.com" class="mail"
            >faruk.curevac@stu.ibu.edu.ba</a
          >
        </li>
      </ul>

        <br> <br> <br> 
          
            <div
              class="kontenjer"
              style="
              
              align-items: center;
           
                padding: 30px;
                background: white;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                flex: ;.
              "
            >
              <form action="#" method="post">
              
                <div class="form-group contact-forms">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    required=""
                  />
                </div>
                <div class="form-group contact-forms">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required=""
                  />
                </div>
                <div class="form-group contact-forms">
                  <textarea
                    class="form-control"
                    placeholder="Message"
                    rows="3"
                    required=""
                  ></textarea>
                </div>
                <button class="btn btn-block sent-butnn">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

